body {
  font-family: Arial;
  margin: 0;
  background: #f2f2f2;
}

header {
  background: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  animation: slide 10s infinite;
}

.slides img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@keyframes slide {
  0% {transform: translateX(0);}
  33% {transform: translateX(-100%);}
  66% {transform: translateX(-200%);}
  100% {transform: translateX(0);}
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  padding: 15px;
}

.product {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px gray;
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  background: white;
  width: 300px;
  height: 100%;
  padding: 20px;
  transition: 0.3s;
  box-shadow: -2px 0 10px black;
}